<div class="ns_creditsHolder">
    <div class="ns_creditsLineThin"></div>
    <h2><%= credits_title %></h2>
    <p><%= credits %></p>

    <div class="tmpShareToolsHolder">Loading sharetools...</div>

    <div class="ns_onwardJourneys">

        <div class="ns_creditsLineThick"></div>
        <h2><%= onward_journeys_title %></h2>
        <div class="ns_creditsLineThin"></div>

        <a class="ns_credits__href" href="http://google.com" target="_top">related link 1</a>
        <a class="ns_credits__href" href="" target="_top">related link 2</a>
        <a class="ns_credits__href" href="" target="_top">related link 3</a>

        <p><span>The BBC is not responsible for the content of external Internet sites</span></p>
    </div>
</div>