<div class="section" id="section--footer">

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <div class="ns_creditsLineThin"></div>
            <h2><%= credits_title %></h2>
            <p><%= credits %></p>

            <div class="footer_share">
                <h2 class="footer_share__title">
                    Share this page
                    <a class="footer_share__about" href="http://www.bbc.co.uk/help/web/sharing.shtml">About sharing</a>
                </h2>
                <a href="mailto:?subject=Shared%20via%20BBC%20News&amp;body=The%20Salon%3A%20Every%20haircut%20tells%20a%20story%20%23BBCIdentity%20http%3A%2F%2Fbbc.in%2F1UCVZje" class="footer_share__link footer_share__link--email">
                    <img src="http://news.bbcimg.co.uk/news/special/2016/newsspec_13530/content/english/img/share-icons/email.png" alt="email share">
                </a><a href="http://www.facebook.com/dialog/feed?app_id=58567469885&amp;redirect_uri=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Fresources%2Fidt-f95a7125-d0bb-4c73-b6b3-7c71670ad44e&amp;link=http%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Fresources%2Fidt-f95a7125-d0bb-4c73-b6b3-7c71670ad44e" class="footer_share__link footer_share__link--facebook">
                    <img src="http://news.bbcimg.co.uk/news/special/2016/newsspec_13530/content/english/img/share-icons/facebook.png" alt="facebook share">
                </a><a href="https://twitter.com/intent/tweet?text=The%20Salon%3A%20Every%20haircut%20tells%20a%20story%20%23BBCIdentity&amp;url=http%3A%2F%2Fbbc.in%2F1UCVZje" data-social-url="https://twitter.com/intent/tweet?text=The%20Salon%3A%20Every%20haircut%20tells%20a%20story%20%23BBCIdentity&amp;url=http%3A%2F%2Fbbc.in%2F1UCVZje" data-target-url="http%3A%2F%2Fbbc.in%2F1UCVZje" class="footer_share__link footer_share__link--twitter">
                    <img src="http://news.bbcimg.co.uk/news/special/2016/newsspec_13530/content/english/img/share-icons/twitter.png" alt="twitter share">
                </a>
            </div>

            <div class="ns_onward-journeys">
                <div class="ns_creditsLineThick"></div>
                <h2><%= onward_journeys_title %></h2>
                <div class="ns_creditsLineThin"></div>

                <div class="ns_onward-journeys-inner">
                    <ul>
                        <li>
                            <a href="<%= onward_journey_url_1 %>">
                                <span><%= onward_journey_text_1 %></span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= onward_journey_url_2 %>">
                                <span><%= onward_journey_text_2 %></span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= onward_journey_url_3 %>">
                                <span><%= onward_journey_text_3 %></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <p style="clear:both;">The BBC is not responsible for the content of external Internet sites</p>
        </div>
    </div>


</div>