<div class="section" id="section--footer">

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <div class="ns_creditsLineThin"></div>
            <h2><%= credits_title %></h2>
            <p><%= credits %></p>

            <!-- <div class="tmpShareToolsHolder">Loading sharetools...</div> -->

            <div class="ns_onward-journeys">

                <div class="ns_creditsLineThick"></div>
                <h2><%= onward_journeys_title %></h2>
                <div class="ns_creditsLineThin"></div>

                <div class="ns_onward-journeys-inner">
                    <ul>
                        <li>
                            <a href="<%= onward_journey_url_1 %>">
                                <span><%= onward_journey_text_1 %></span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= onward_journey_url_2 %>">
                                <span><%= onward_journey_text_2 %></span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= onward_journey_url_3 %>">
                                <span><%= onward_journey_text_3 %></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <p style="clear:both;">The BBC is not responsible for the content of external Internet sites</p>
        </div>
    </div>


</div>