<div class="section section--nextweek" id="section--nextweek">
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p class="nextweek__text"><%= section_next_week_text %></p>
        </div>
    </div>
</div>
