<div class="section" id="section--four">

    <div class="bbc-news-vj-video__wrapper">
        <div class="bbc-news-vj-video" id="bbc-news-vj-video--four">
            <div class="bbc-news-vj-video__player"></div>
            <div class="bbc-news-vj-video__overlay">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title"><%= section_4_video_title %></div>
                    <div class="bbc-news-vj-video__overlay__text__summary"><%= section_4_video_summary %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section_4_title %></h2>
        </div>
    </div>
    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section_4_paragraph %></p>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <blockquote class="bbcquote">
                <%= section_4_blockquote %>
                <cite class="bbcquote__cite"><%= section_4_blockquote_credit %></cite>
            </blockquote>
        </div>
    </div>

    <div class="bbc-news-vj-sharetools" id="bbc-news-vj-sharetools--1"></div>

</div>
