<div class="section" id="section--three">

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section_3_title %></h2>
        </div>
    </div>
    <div class="bbc-news-vj-video__wrapper">
        <div class="bbc-news-vj-video" id="bbc-news-vj-video--three">
            <div class="bbc-news-vj-video__player"></div>
            <div class="bbc-news-vj-video__overlay">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title"><%= section_3_video_title %></div>
                    <div class="bbc-news-vj-video__overlay__text__summary"><%= section_3_video_summary %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section_3_paragraph %></p>
            <!-- <blockquote class="bbcquote">
                <%= section_3_blockquote %>
                <cite class="bbcquote__cite"><%= section_3_blockquote_credit %></cite>
            </blockquote> -->
            <div class="bbc-news-vj-sharetools" id="bbc-news-vj-sharetools--3" data-message="<%= section_3_share_message %>" data-url="<%= short_url %>"></div>
        </div>
    </div>
</div>
