<div class="section" id="section--four">

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <h2><%= section_4_title %></h2>
        </div>
    </div>

    <div class="bbc-news-vj-video-wrapper">
        <div class="bbc-news-vj-video bbc-news-vj-video--four" id="bbc-news-vj-video--four">
            <div class="bbc-news-vj-video__player"></div>
            <div class="bbc-news-vj-video__overlay bbc-news-vj-video__overlay--hidden">
                <button class="bbc-news-vj-video__overlay__play" aria-label="Play"></button>
                <div class="bbc-news-vj-video__overlay__text">
                    <div class="bbc-news-vj-video__overlay__text__title"><%= section_4_video_title %></div>
                    <div class="bbc-news-vj-video__overlay__text__summary"><%= section_4_video_summary %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bbc-news-vj-grid-wrapper">
        <div class="bbc-news-vj-grid-wrapper__fluid-inner">
            <p><%= section_4_paragraph %></p>
            <blockquote class="bbcquote">
                <%= section_4_blockquote %>
                <!-- <cite class="bbcquote__cite"><%= section_4_blockquote_credit %></cite> -->
            </blockquote>
        </div>
        <div class="bbc-news-vj-sharetools" id="bbc-news-vj-sharetools--4" data-message="<%= section_4_share_message %>" data-url="<%= section_4_share_url %>" data-img="<%= section_4_share_image %>"></div>
    </div>
</div>
