.bbc-news-vj-wrapper .tmpShareToolsHolder .ns__share-dropdown .share__button p {
    color: #ccc;
}
.bbc-news-vj-wrapper .ns_creditsHolder {
    margin-top: 5em;
}
.bbc-news-vj-wrapper .ns_creditsHolder .ns_onwardJourneys a {
    color: white;
}