.ns_creditsHolder {
    margin-top: 5em;
}
.ns_creditsHolder .ns_onwardJourneys .ns_credits__href a:hover, a:visited, a:link, a:active {
    color: white;
    // border-bottom: none;
}
.tmpShareToolsHolder .ns__share-dropdown .share__button p {
    color: #ccc;
}