.bbc-news-vj-wrapper .tmpShareToolsHolder .ns__share-dropdown .share__button p {
    color: #ccc;
}

.ns_onward-journeys {
    margin: 0;
    padding: 0;
    &-inner {
        margin: 0 auto;
        padding: 0;
        ul {
            padding: 0;
            li {
                clear: both;
                display: block;
                text-align: left;
                margin: 0.5em 0;
                width: 100%;
            }
            img {
                display: block;
                width: 50%;
                float: left;
                margin: 0 8px 16px 0;
            }
            span {
                display: block;
                font-weight: bold;
                padding: 0;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.section .ns_creditsLineThin {
    width: 100%;
    height: 1px;
    background-color: #333;
}
.section .ns_creditsLineThick {
    width: 100%;
    height: 8px;
    background-color: #333;
}

.footer_share {
    &__title {
        margin: 1em 0 0;
    }

    .footer_share__about {
        font-size: 12px;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: normal;
        color: inherit;
        border-bottom: none;
    }

    .footer_share__link {
        width: 44px;
        height: 32px;
        text-decoration: none;
        display: inline-block;
        margin: 8px 8px 8px 0;
        border-bottom: none;
        
        img {
            width: 100%;
            height: 100%;
        }

        &--email {
            background-color: #615f5d;
        }

        &--facebook {
            background-color: #3c5a98;
        }

        &--twitter {
            background-color: #47c7fa;
        }
    }
}

@media (min-width: 768px) {
    .ns_onward-journeys {
        &-inner {
            ul {
                img {
                    display: block;
                    width: 33.33333%;
                    max-width: 165px;
                    float: left;
                    margin-right: 16px;
                }
            }
        }
    }
}