.hero {
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/976xcecesinkde27.jpg');
    height: 0;
    padding-bottom: 37%;
    position: relative;

    @media (max-aspect-ratio: 1/1) {
        padding-bottom: 67%;
    }

    @media (min-width: 320px) and (max-aspect-ratio: 8/10) {
        padding-bottom: 100%;
    }

    @media (min-width: 480px) and (max-aspect-ratio: 1/1) {
        padding-bottom: 67%;
    }

    @media (min-width: 1008px) {
        padding-bottom: 0;
        height: auto;
        background-color: transparent;
        background-image: none;
    }

    .bbc-news-vj-grid-wrapper {
        position: static;
    }

    &__titles {
        position: absolute;
        bottom: 0;
        color: #fff;
        text-shadow: 0 0.0625em 0.5em #000;
        padding-bottom: 1.25em;

        @media (min-width: 600px) {
            padding-bottom: 2em;
        }

        @media (min-width: 1008px) {
            position: static;
            text-shadow: none;
            padding-top: 0.67em;
        }
    }

    &__heading {
        font-size: 2.5em;
        line-height: 1;
        margin: 0;

        @media (min-width: 600px) {
            font-size: 4.5em;
        }

        @media (min-width: 1008px) {
            font-size: 3.5em;
        }
    }

    .hero__subheading {
        font-size: 1em;
        line-height: 1;
        margin: 0;
        margin-top: 0.5em;

        @media (min-width: 600px) {
            font-size: 1.25em;
        }

        @media (min-width: 1280px) {
            font-size: 1.5em;
        }
    }
}

.bbc-news-vj-grid-wrapper .hero__intro__text {
    @media (min-width: 1008px) {
        display: none;
    }
}

.bbc-news-vj-wrapper .meta-list {
    display: block;
    font-size: 14px;
    margin-bottom: 1.5em;
    padding: 0;

    &__item {
        border-right: 1px solid #dcdcdc;
        display: inline-block;
        margin-top: 2px;
        margin-right: 0.2em;
        margin-bottom: 2px;
        padding-right: 0.5em;
        position: relative;

        &:last-child {
            border: none;
            margin-right: 0;
            padding-right: 0;
        }

        &--timestamp {
            &:before {
                content: '';
                display: block;
                background: url('../img/boilerplate-icons-sprite.png') no-repeat -10px -4012px;
                width: 13px;
                height: 13px;
                position: absolute;
                left: 0;
                top: 1px;
            }
            padding-left: 1.375em;
        }

        &--topic a {
            color: #cc0101;
            text-decoration: none;
            border: none;
            &:active, &:focus, &:hover {
                color: #333;
            }
        }
    }

    @media (min-width: 1280px) {
        width: 16.4%;
        border-right: 1px solid #dcdcdc;
        margin: 0;
        position: absolute;
        left: 0;

        &__item {
            border: none;
            display: block;
            padding-left: 1.375em;
        }
    }
}

.intro {
    font-weight: bold;
}
