@import "./../../bower_components/normalize-scss/_normalize.scss";
@import "./../../bower_components/news-vj-css-defaults/css/main";
@import "./../../bower_components/sharetools/bin/templates/dropdown/share.scss"; // Developer: choose your sharetools of choice ('dropdown', 'buttons'). This should match the ShareToolsTemplate value in config.json

// YOUR APPLICATION CSS GOES BELOW

$version: "0.2.2";

.bbc-news-vj-wrapper {
    // Developer:
    //  SASS placeholder selectors (i.e. `%button--standard`) mean that the corresponding CSS
    //  is only pulled into our CSS file if we use `@extend`.
    //  The CSS for the buttons, radio inputs and checkboxes amount to around 10KB, so only
    //  include these if you need them.
    input[type="submit"],
    input[type="button"],
    button {
        @extend %button--standard;

        &:disabled {
            @extend %button--inactive;
        }

        &.button--prev {
            @extend %button--cta-reverse;
        }

        &.button--next {
            @extend %button--cta;
        }

        &.button--reset {
            @extend %button--reset;
        }
    }

    select {
        @extend %form--select;
    }

    input[type="checkbox"] {
        @extend %form--checkbox;
    }

    input[type="radio"] {
        @extend %form--radio;
    }

    background-color: #000;
    color: #fff;
    padding-bottom: 1em;
    position:relative;
    @media (min-width: 1008px) {
        padding-top:0;
    }
}

.bbc-news-vj-grid-wrapper {
    position: relative;
}

#loading-spinner {
    display: none;
}

@import "hero";
@import "quotes";
@import "sections";
@import "sharetools";
@import "credits";

.bbc-news-vj-wrapper--js-enabled {
    @media (min-width: 1008px) {
        padding-top:60%;
    }
    .bbc-news-vj-video-wrapper--hero {
        display: inherit;
    }
}