.bbcquotemark {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.03em;
    color: #333;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 1.75em;

    @media (min-width: 600px) {
        margin-bottom: 1.75em;
        margin-top: 2.5em;
        margin-left: 0;
    }

    &:before {
        content: '''';
        display: block;
        font-size: 64px;
        letter-spacing: -6px;
        margin-top: 48px;
        margin-bottom: -8px;
        margin-left: -4px;

        @media (min-width: 600px) {
            font-size: 90px;
            letter-spacing: -8px;
            margin-top: 48px;
            margin-bottom: -8px;
            margin-left: -4px;
        }

        @media (min-width: 600px) {
            font-size: 90px;
            letter-spacing: -8px;
            margin-top: 48px;
            margin-bottom: -8px;
            margin-left: -4px;
        }
    }
}