.bbc-news-vj-wrapper .bbcquotemark {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.03em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 1.75em;

    @media (min-width: 600px) {
        margin-bottom: 1.75em;
        margin-top: 2.5em;
        margin-left: 0;
    }

    &:before {
        content: '‘‘';
        color: white;
        display: block;
        font-size: 64px;
        letter-spacing: -6px;
        line-height: 24px;
        margin-top: 48px;
        margin-bottom: -8px;
        margin-left: -4px;

        @media (min-width: 600px) {
            font-size: 90px;
            letter-spacing: -8px;
            margin-top: 48px;
            margin-bottom: -8px;
            margin-left: -4px;
        }

        @media (min-width: 600px) {
            font-size: 90px;
            letter-spacing: -8px;
            margin-top: 48px;
            margin-bottom: -8px;
            margin-left: -4px;
        }
    }

    &__cite {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: inherit;
        color: #999;
        display: block;
        font-weight: normal;
        font-style: normal;
    }
}

